<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!-- 
        <File name="ErrorLog" fileName="bot-error.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File> -->
        <RollingFile name="RollingErrorLog" fileName="logs/bot-error.log" filePattern="logs/$${date:yyyy-MM}/bot-error-%d{MM-dd-yyyy}-%i.log.gz">
        	<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        	<Policies>
        		<TimeBasedTriggeringPolicy />
        		<SizeBasedTriggeringPolicy size="10 MB" />
        	</Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingErrorLog" level="warn" />
        </Root>
    </Loggers>
</Configuration>